* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #FFFFFF;
    width: 97.5%;
    margin: 0 auto;
}





header{
    height: 216px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

header img{
    width: 178px;
    position: relative;
    left: 20px;
    
}

/* DROPDOWN */

header span{
    margin-right: 30px;
}


.sidenav {
    margin-top: 125px;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.25s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 2px 2px 2px 20px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: -20px;
    right: 30px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  /* DROPDOWN  END*/

#titleImage {
    height: 862px;
    background-color: rgb(234, 255, 239);
    background-image: url(./img/home-header-black.jpg);
    background-size: cover;
    background-position: center;  
    
    
}

.titleArea{
    width: 85%;
    height: 200px;    
    
}

.titleArea > h1 {
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 33px;
    text-align: center;
    line-height:  30px;  
    margin-bottom: 43px
}

.titleArea a {
    border: 3px #FFB600 solid;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFB600;
    padding: 10px 20px;
    letter-spacing: 2px;
    font-weight: bold;


}

.flexCenterRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flexCenterRowBetween{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flexCenterColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* PONUKY */

#offers{
    margin-top: 10px;
    margin-bottom: 100px;
}

#offers img{
    width: 100%;
}



.oneOffer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.oneOffer > h2 {
    position: absolute;
    color: #FFFFFF;
    font-size: 30px;
    text-align: center;
}



/* NOVINKY */

#news h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

#news h3 {
    padding: 30px 20px;
    padding-bottom: 10px;
    font-size: 25px;
}

#news p {
    padding: 10px 20px;
}

#news img{
    width: 90%;
    margin: 15px;
}

.newsWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* KATALOG */

#catalog{
    width: 99%;
    margin-top: 100px;
    margin-bottom: 100px;
}

#catalog h2{
    text-align: center;
}

/* SPOLAHLIVOST */

#reliability{
    width: 100%;
    height: 550px;
    background-image: url(./img/preco-my/precoMy-black.jpg);
    background-size: cover;
    background-position: center;  
    
}

#reliability h2{
    text-align: center;
    color: white;
}

#reliability h2 span {
    color: #FFB600;
}

#reliability p {
    color: white;
    font-size: 16px;
    padding: 10px 30px;
    font-weight: bold;
}

#reliability ul {
    color: white;
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: bold;
    padding: 0 40px;
}


/* PRACUJEME */


#weWork{
    width: 100%;
    height: 695px;
}

#weWork h2{
    text-align: center;
    margin: 30px;
}

.slideshow {
    width: 150px;
    height: 150px;
}


/* SLIDESHOW */

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* HOVORI SA O NAS */

#itSays{
    width: 100%;
    height: 792px;
    background-image: url(./img/hovoriSa/3-stavebniny-martin-renostav-interier.jpg);
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    font-weight: bold;
}

#itSays h2{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 80px;
}



.poznamka{
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.poznamka h3{
    text-align: center;
    padding-bottom: 20px;
}

.poznamka p{
    font-size: 16px;
    padding-bottom: 15px;
}

.poznamka q{
    color:#FFB600;
    font-size: 30px;
}

.poznamka h4{
    font-size: 20px;
}

/* SEKCIA SPOJME SA */

#connect{
    width: 100%;
    height: 1500px;
}

#connect h2 {
    padding-top: 110px;
    padding-left: 40px;
    padding-bottom: 60px;
}

.spojmeSaSekcia{
    padding-left: 40px;
    margin-bottom: 20px;
}

.spojmeSaSekcia h3{
    padding-bottom: 15px;
}

.spojmeSaSekcia a{
    display: block;
    text-decoration: none;
    font-size: 17px;
    color: black;
    line-height: 30px;
}

.spojmeSaSekcia p{
    font-size: 17px;
    line-height: 30px;
}

#map{
    width: 100%;
    height: 500px;
    margin-top: 80px;
    padding: 20px;
}

/* SEKCIA KONTAKT */

#footer {
    width: 100%;
    height: 530px;
    background-color: #241F20 ;
}

#footer h3 {
    color:#FFB600;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.footerSections{
    margin-bottom: 30px;
    
}

.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color:#FFB600;
    
}

.social h1 {
    font-size: 40px;
    padding: 20px;
}

.active{
    color: black !important;
    background-color: #FFB600;
    margin: 0 15px; 
}

.footerAddInfo{
    width: 100%;
    
    
}

.footerAddInfo a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #707070;
    padding: 10px 0;
    font-weight: bold;
    
}



/** SLUŽBY */

#servicesHeading{   
    width: 100%;
    height: 138px;
    background-color: #f3f3f3;
}

#servicesHeading2{
    width: 100%;
    margin-top: -50px;
    margin-bottom: 50px;
}

.prace h2{
    font-size: larger;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    padding: 0 15px;
}

.solidLine{
    width: 100px;
    height: 4px;
    border: 2px solid #FFB600;
    margin: 0 auto;
    margin-bottom: 40px;
}

.prace p{
    padding: 0 15px;
    padding-bottom: 20px;
    text-align: justify;
    line-height: 25px;
}

.imgContainer{
    width: 95%;
    height: 123px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 15px;  
    margin-bottom: 50px; 
    margin-top: 10px;
}

.img1{
    background-image: url(./img/prace/1-maliarske-prace-martin-renostav.jpg);
}

.img2{
    background-image: url(./img/prace/2-brusenie-stierky-martin-renostav.jpg);
}

.img3{
    background-image: url(./img/prace/3-sadrokartonarske-prace-martin-renostav.jpg);
}

.img4 {
    background-image: url(./img/prace/4-obklady-a-dlazby-martin-renostav.jpg);

}

.img5 {
    background-image: url(./img/prace/5-prerabka-jadra-byt-dom-martin-renostav.jpg);
}

.img6 {
    background-image: url(./img/prace/);
}

.img7 {
    background-image: url(./img/prace/);
}

.img8 {
    background-image: url(./img/prace/);
}

.img9 {
    background-image: url(./img/prace/);
}

.img10 {
    background-image: url(./img/prace/);
}

.img11 {
    background-image: url(./img/prace/);
}

.img12 {
    background-image: url(./img/prace/);
}

.img13 {
    background-image: url(./img/prace/);
}

.img14 {
    background-image: url(./img/prace/);
}

.img15 {
    background-image: url(./img/prace/);
}

.img16 {
    background-image: url(./img/prace/);
}

.img17 {
    background-image: url(./img/prace/);
}

.img18 {
    background-image: url(./img/prace/);
}

.img19 {
    background-image: url(./img/prace/); 
}

.img20 {
    background-image: url(./img/prace/);
}

.img21 {
    background-image: url(./img/prace/);
}
